Options Indexes
IndexOptions FancyIndexing NameWidth=* DescriptionWidth=* SuppressHTMLPreamble
IndexIgnore . .htaccess header.html trailer.html
HeaderName header.html
ReadmeName trailer.html

AddDescription "XXDPv25 only, with utilities (TU58 disk image)" 11XXDP.DSK
AddDescription "XXDPv25 only, with utilities (directory listing)" 11XXDP.TXT

AddDescription "11/04 CPU, M9312, memory diagnostics (TU58 disk image)" 1104_1.DSK
AddDescription "11/04 CPU, M9312, memory diagnostics (directory listing)" 1104_1.TXT

AddDescription "11/34 CPU, MS11-L diagnostics (TU58 disk image)" 1134_1.DSK
AddDescription "11/34 CPU, MS11-L diagnostics (directory listing)" 1134_1.TXT

AddDescription "11/34 FPP, M9312, memory diagnostics (TU58 disk image)" 1134_2.DSK
AddDescription "11/34 FPP, M9312, memory diagnostics (directory listing)" 1134_2.TXT

AddDescription "11/44 CPU, MS11-P diagnostics (TU58 disk image)" 1144_1.DSK
AddDescription "11/44 CPU, MS11-P diagnostics (directory listing)" 1144_1.TXT

AddDescription "11/44 FPP, CIS diagnostics (TU58 disk image)" 1144_2.DSK
AddDescription "11/44 FPP, CIS diagnostics (directory listing)" 1144_2.TXT

AddDescription "11/23 CPU-MMU-FPP, memory diagnostics (TU58 disk image)" 1123_1.DSK
AddDescription "11/23 CPU-MMU-FPP, memory diagnostics (directory listing)" 1123_1.TXT

AddDescription "11/23 KDF11 FPF11 diagnostics (TU58 disk image)" 1123_2.DSK
AddDescription "11/23 KDF11 FPF11 diagnostics (directory listing)" 1123_2.TXT

AddDescription "DL11-W, TU58, DZ11, MSCP, KW11-P diagnostics (TU58 disk image)" 11XX_1.DSK
AddDescription "DL11-W, TU58, DZ11, MSCP, KW11-P diagnostics (directory listing)" 11XX_1.TXT

AddDescription "DEUNA, DELUA diagnostics (TU58 disk image)" 11XX_2.DSK
AddDescription "DEUNA, DELUA diagnostics (directory listing)" 11XX_2.TXT

AddDescription "UDA50/KDA50 diagnostics (TU58 disk image)" 11XX_3.DSK
AddDescription "UDA50/KDA50 diagnostics (directory listing)" 11XX_3.TXT

AddDescription "RX diagnostics (TU58 disk image)" 11XX_4.DSK
AddDescription "RX diagnostics (directory listing)" 11XX_4.TXT

AddDescription "RL diagnostics (TU58 disk image)" 11XX_5.DSK
AddDescription "RL diagnostics (directory listing)" 11XX_5.TXT

AddDescription "RK diagnostics (TU58 disk image)" 11XX_6.DSK
AddDescription "RK diagnostics (directory listing)" 11XX_6.TXT

AddDescription "RQ diagnostics (TU58 disk image)" 11XX_7.DSK
AddDescription "RQ diagnostics (directory listing)" 11XX_7.TXT

AddDescription "AK6DN's home grown memory, MSCP, M9313, other diagnostics (TU58 disk image)" 11XX_9.DSK
AddDescription "AK6DN's home grown memory, MSCP, M9313, other diagnostics (directory listing)" 11XX_9.TXT
AddDescription "AK6DN's home grown memory, MSCP, M9313, other diagnostics (sources)" 11XX_9.tar.gz

AddDescription "TU58 emulator page" tu58em
