Options Indexes
IndexOrderDefault Ascending Description
IndexOptions FancyIndexing NameWidth=* DescriptionWidth=* SuppressHTMLPreamble HTMLTable
IndexStyleSheet /css/PDP-8.css
IndexIgnore . .htaccess .htaccess.pl

AddIcon /icons/text.gif *.lst *.pal *.ini *.log
AddIcon /icons/binary.gif *.bin *.rim

AddDescription "&#1;&#1;Diagnostics SIMH control file, RIM format" diagnostics_rim.ini
AddDescription "&#1;&#2;Diagnostics SIMH log file, RIM format" diagnostics_rim.log
AddDescription "&#1;&#3;Diagnostics SIMH control file, BIN format" diagnostics_bin.ini
AddDescription "&#1;&#4;Diagnostics SIMH log file, BIN format" diagnostics_bin.log

AddDescription "&#2;&#1;&#1;<FONT COLOR=#008800>PDP-8e Memory Extension and Time Share Control Test - DEC documentation (acrobat)</FONT>" *DHMCA*pdf
AddDescription "&#2;&#1;&#2;<FONT COLOR=#008800>PDP-8e Memory Extension and Time Share Control Test - program loader tape (BIN format)</FONT>" *DHMCA*bin
AddDescription "&#2;&#1;&#3;<FONT COLOR=#008800>PDP-8e Memory Extension and Time Share Control Test - program loader tape (RIM format)</FONT>" *DHMCA*rim
AddDescription "&#2;&#1;&#4;<FONT COLOR=#008800>PDP-8e Memory Extension and Time Share Control Test - disassembled PAL source (text)</FONT>" *DHMCA*pal
AddDescription "&#2;&#1;&#5;<FONT COLOR=#008800>PDP-8e Memory Extension and Time Share Control Test - assembled PAL listing (text)</FONT>" *DHMCA*lst
