Options Indexes
IndexOptions FancyIndexing NameWidth=* DescriptionWidth=* SuppressHTMLPreamble
IndexIgnore . .htaccess header.html trailer.html
HeaderName header.html
ReadmeName trailer.html

AddDescription "&#1;&#1;&#1;Entire directory contents, including all sources" diagnostics.tar.gz

AddDescription "&#1;&#4;&#1;DL11 serial interface test" dl11.lst
AddDescription "&#1;&#4;&#2;... executable" dl11.bi*
AddDescription "&#1;&#4;&#3;... SIMH control file" dl11.ini

AddDescription "&#1;&#5;&#1;DL11 console/tu58 serial echo test (polled)" echo1.lst
AddDescription "&#1;&#5;&#2;... executable" echo1.bi*
AddDescription "&#1;&#5;&#3;... SIMH control file" echo1.ini

AddDescription "&#1;&#6;&#1;DL11 console/tu58 serial echo test (interrupt)" echo2.lst
AddDescription "&#1;&#6;&#2;... executable" echo2.bi*
AddDescription "&#1;&#6;&#3;... SIMH control file" echo2.ini

AddDescription "&#1;&#7;&#1;M9313 module tester" m9313.lst
AddDescription "&#1;&#7;&#2;... executable" m9313.bi*
AddDescription "&#1;&#7;&#3;... SIMH control file" m9313.ini

AddDescription "&#1;&#8;&#1;Enhanced Memory Test - Extended March C- Algorithm" memx.lst
AddDescription "&#1;&#8;&#2;... executable" memx.bi*
AddDescription "&#1;&#8;&#3;... SIMH control file for 11/24" memx24*.ini
AddDescription "&#1;&#8;&#4;... SIMH control file for 11/34" memx34*.ini
AddDescription "&#1;&#8;&#5;... SIMH control file for 11/44" memx44*.ini
AddDescription "&#1;&#8;&#6;... SIMH control file for 11/45" memx45*.ini
AddDescription "&#1;&#8;&#7;... SIMH control file for 11/70" memx70*.ini
AddDescription "&#1;&#8;&#8;... SIMH control file for 11/73" memx73*.ini

AddDescription "&#2;&#1;&#1;DIVIDE instruction test" divtst.lst
AddDescription "&#2;&#1;&#2;... executable" divtst.bi*
AddDescription "&#2;&#1;&#3;... SIMH control file" divtst.ini

AddDescription "&#2;&#2;&#1;MULTIPLY instruction test" multst.lst
AddDescription "&#2;&#2;&#2;... executable" multst.bi*
AddDescription "&#2;&#2;&#3;... SIMH control file" multst.ini

AddDescription "&#2;&#3;&#1;ASHC instruction test" ashtst.lst
AddDescription "&#2;&#3;&#2;... executable" ashtst.bi*
AddDescription "&#2;&#3;&#3;... SIMH control file" ashtst.ini

AddDescription "&#2;&#4;&#1;CIS instruction test" cistst.lst
AddDescription "&#2;&#4;&#2;... executable" cistst.bi*
AddDescription "&#2;&#4;&#3;... SIMH control file" cis*.ini

AddDescription "&#2;&#5;&#1;PRINTF routine test" prftst.lst
AddDescription "&#2;&#5;&#2;... executable" prftst.bi*
AddDescription "&#2;&#5;&#3;... SIMH control file" prftst.ini

AddDescription "&#3;&#1;&#1;MSCP disk interface test (tuned for Emulex UC18)" mscp.lst
AddDescription "&#3;&#1;&#2;... executable" mscp.bi*
AddDescription "&#3;&#1;&#3;... SIMH control file" mscp.ini

AddDescription "&#3;&#2;&#1;TMSCP tape interface test (tuned for Emulex UC18)" tmscp.lst
AddDescription "&#3;&#2;&#2;... executable" tmscp.bi*
AddDescription "&#3;&#2;&#3;... SIMH control file" tmscp.ini

AddDescription "&#3;&#4;&#1;RX11/RX01 boot test" rx01bo.lst
AddDescription "&#3;&#4;&#2;... executable" rx01bo.bi*
AddDescription "&#3;&#4;&#3;... SIMH control file" rx01bo.ini

AddDescription "&#3;&#5;&#1;RX211/RX02 boot test" rx02bo.lst
AddDescription "&#3;&#5;&#2;... executable" rx02bo.bi*
AddDescription "&#3;&#5;&#3;... SIMH control file" rx02bo.ini

AddDescription "&#3;&#6;&#1;RX211/RX02 media read test" rx02rd.lst
AddDescription "&#3;&#6;&#2;... executable" rx02rd.bi*
AddDescription "&#3;&#6;&#3;... SIMH control file" rx02rd.ini

AddDescription "&#3;&#7;&#1;RX211/RX02 media write test" rx02wr.lst
AddDescription "&#3;&#7;&#2;... executable" rx02wr.bi*
AddDescription "&#3;&#7;&#3;... SIMH control file" rx02wr.ini

AddDescription "&#3;&#8;&#1;RX211/RX02 buffer read/write test" rx02xx.lst
AddDescription "&#3;&#8;&#2;... executable" rx02xx.bi*
AddDescription "&#3;&#8;&#3;... SIMH control file" rx02xx.ini

AddDescription "&#4;&#1;&#1;TU58 device basic protocol and read/write test" tu58.lst
AddDescription "&#4;&#1;&#2;... executable" tu58.bi*
AddDescription "&#4;&#1;&#3;... SIMH control file" tu58.ini

